---
export const prerender = true;

import PageLayout from "../../layouts/PageLayout.astro";
import ContentProjects from "../../components/ContentProjects.astro";
import pl from "../../i18n/pl.json";

const pageData = pl.projekty;
const contentFooter = pl.footer;
const contentMenu = pl.menu;
---

<PageLayout
  lang="pl"
  langPrefix=""
  title={pageData.title}
  description={pageData.description}
  ogImage={pageData.ogimage || "/img/default-og.webp"}
  currentLocale="pl"
  contentMenu={contentMenu}
  contentFooter={contentFooter}
>
  <>
    <ContentProjects data={pageData} langPrefix="" />
    <div style="display:none" aria-hidden="true"></div>
  </>
</PageLayout>
