---
export const prerender = true;

import PageLayout from "../layouts/PageLayout.astro";
import ContentContact from "../components/ContentContact.astro";
import pl from "../i18n/pl.json";

const pageData = pl.kontakt;
const contentFooter = pl.footer;
const contentMenu = pl.menu;
---

<PageLayout
  lang="pl"
  langPrefix=""
  title={pageData.title}
  description={pageData.description}
  ogImage={pageData.ogimage || "/img/default-og.webp"}
  currentLocale="pl"
  contentMenu={contentMenu}
  contentFooter={contentFooter}
>
  <>
    <ContentContact data={pageData} langPrefix="" />
    <div style="display:none" aria-hidden="true"></div>
  </>
</PageLayout>
